body {
    background-color: rgb(179, 179, 255);
    font-family: 'Black And White Picture', sans-serif;
    font-size: 24px;
    color: #00cc00;
    font-style:sans-serif;
    text-color: rgb(102, 0, 255);
}

.body {
    width: 1000px;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.header {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #99ffff;
}

.header h1 {
    font-size: 80px;
    line-height: 10px;
    color:#ff0066;
}

.container {
    padding: 15px;
}

.container img {
    max-width: 50%;
    width: auto;
}

@media screen and (max-width: 1000px) {
    .body {
        width: 100%;
    }
}

.body img {
    height: 40%;
        width: 40%;
}
